@model Vidly.Models.Movies

@{
    ViewBag.Title = "Movie Details";
    var date1 = Model.ReleasedDate.ToString().Split(' ');
    var date2 = Model.ReleasedDate.ToString().Split(' ');

    var releasedDate = date1[0];
    var addedDate = date2[0];


}

<div class="p-3">
    <h1>@Model.Name</h1>

</div>
<div>
    <ul>
        <li>
            Genre: @Model.Genre.GenreName
        </li>
        <li>
            Release Date: @releasedDate
        </li>
        <li>
            Date Added: @addedDate
        </li>
        <li>
            Number in Stock: @Model.NumberInStock
        </li>
    </ul>
</div>

